FluCodeBox {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(234, 234, 234);
    font-size: 14px;
    border-radius: 4px;
    selection-background-color: rgb(0, 120, 215);
    selection-color: rgb(255, 255, 255);
    color: white;
}

FluCodeBox[transparent=true] {
    background-color: transparent;
    font-size: 14px;
    border: none;
}