FluCalendarViewWeakTitle {
    /* background-color: aqua; */
    background-color: transparent;
}

#label {
    /* background-color: blueviolet; */
    background-color: transparent;
    color: rgb(255, 255, 255);
}