FluDisplayBox {
    /* border: 1px solid rgb(234, 234, 234); */
    padding: 8px;
    border-radius: 8px;
    color: white;
}

#titleLabel {
    font-size: 12px;
    font-weight: bold;
}

#bodyWidget {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#codeExpander {
    padding: 2px;
    border: 1px solid rgb(50, 50, 50);
}