FluGraphicalButton {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 4px;
    border-bottom: 1px solid rgb(48, 48, 48);
}

FluGraphicalButton:hover {
    background-color: rgb(50, 50, 50);
}

FluGraphicalButton:pressed {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(53, 53, 53);
}