FluHyperLinkButton {
    border: none;
    border-radius: 4px;
    color: rgb(152, 197, 232);
    font-size: 12px;
    background-color: transparent;
    padding: 8px 8px 8px 8px;
}

FluHyperLinkButton:hover {
    background-color: rgb(45, 45, 45);
    color: rgb(152, 197, 232);
}