FluHCard {
    background-color: rgba(50, 50, 50, 0.95);
    border-radius: 8px;
    border: 0px;
}

FluHCard:hover {
    background-color: rgba(62, 62, 62, 0.95);
    border: 1px solid rgb(35, 35, 35);
}

#titleLabel {
    font-size: 15px;
    color: rgb(225, 225, 225);
}

#contextLabel {
    font-size: 11px;
    color: rgb(185, 185, 185);
}