FluIconButton {
    background-color: rgb(52, 52, 52);
    border-radius: 4px;
    border: 1px solid rgb(59, 59, 59);
    border-bottom: 1px solid rgb(55, 55, 55);
}

FluIconButton:hover {
    background-color: rgb(58, 58, 58);
}

FluIconButton[noBorder=true] {
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    border: none;
}

FluIconButton[noBorder=true]:hover {
    background-color: rgb(62, 62, 62);
}