FluMSNavigationView {
    /* background-color: transparent; */
    /* background-color: blueviolet; */
    background-color: rgb(32, 32, 32);
}

#topWrapWidget,
#bottomWrapWidget {
    background-color: transparent;
}