FluSettingsLabelBox {
    border: 1px solid rgb(35, 35, 35);
    border-radius: 4px;
    background-color: rgb(50, 50, 50);
}

#titleLabel {
    font-size: 15px;
    color: rgb(225, 225, 225);
}

#infoLabel {
    font-size: 12px;
    color: rgb(210, 210, 210);
}

#versionLabel {
    font-size: 15px;
    color: rgb(210, 210, 210);
}