FluStyleButton {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(129, 190, 238);
    border-radius: 4px;
    border-bottom: 1px solid rgb(102, 160, 204);
    background-color: rgb(118, 185, 237);
    font-size: 15px;
}

FluStyleButton:hover {
    border: 1px solid rgb(120, 176, 219);
    border-bottom: 1px solid rgb(94, 146, 186);
    background-color: rgb(109, 169, 216);
}

FluStyleButton:pressed {
    border: 1px solid rgb(100, 154, 195);
    background-color: rgb(100, 154, 195);
}