 FluTimePickerPage {
     background-color: rgb(39, 39, 39);
     border-top-left-radius: 8px;
     border: 1px solid rgb(29, 29, 29);
 }
 
 #titleLabel {
     font-size: 26px;
     color: white;
     /* font-weight: bold; */
     /* text-decoration: underline; */
 }
 
 #subTitleLabel {
     margin-left: 5px;
     font-size: 12px;
     color: white;
 }
 
 #infoLabel {
     font-size: 12px;
     color: white;
 }