FluTimePicker24H {
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(44, 44, 44);
    border-bottom: 1px solid rgb(61, 61, 61);
    border-radius: 4px;
}

#hourBtn {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    border-right: 1px solid rgb(61, 61, 61);
}

#minuteBtn {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}