FluAEmptyPage {
    background-color: rgb(249, 249, 249);
    border-radius: 8px;
    border: 1px solid rgb(229, 229, 229);
    margin-right: 5px;
    margin-bottom: 5px;
}

#titleLabel {
    font-size: 26px;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

#infoLabel {
    font-size: 18px;
    color: rgb(113, 113, 113);
    /* text-decoration: underline; */
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 4px;
}