FluCalendarSelectMonthView {
    background-color: rgb(255, 255, 255);
}

#label {
    color: black;
    /* width: 40px; */
    /* height: 40px; */
    border: 1px solid transparent;
    border-radius: 25px;
}

#label[outRange=true] {
    color: rgb(97, 97, 97);
}

#label[today=true] {
    color: white;
    background-color: rgb(0, 90, 158);
}

#label:hover {
    background-color: rgb(246, 246, 246);
}

#label:hover[today=true] {
    color: white;
    background-color: rgb(0, 90, 158);
}