FluCalendarViewWeakTitle {
    /* background-color: aqua; */
    background-color: transparent;
}

#label {
    /* background-color: blueviolet; */
    background-color: transparent;
    color: black;
}