FluHCard {
    background-color: rgba(253, 253, 253, 0.95);
    border-radius: 8px;
    border: 1px solid rgb(234, 234, 234);
}

FluHCard:hover {
    background-color: rgba(251, 251, 251, 0.95);
    border: 1px solid rgb(178, 178, 178);
}

#titleLabel {
    font-size: 15px;
    color: rgb(27, 27, 27);
}

#contextLabel {
    font-size: 11px;
    color: rgb(96, 96, 96);
}