FluHNavigationMoreItem {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

FluHNavigationMoreItem:hover {
    background-color: rgb(234, 234, 234);
}

#iconBtn {
    background-color: transparent;
    border: 1px solid transparent;
}