QMenuBar {
    background-color: transparent;
    color: black;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}

QMenuBar::item {
    background-color: transparent;
    padding: 5px 8px;
    margin-left: 4px;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background-color: rgba(0, 0, 0, 10);
}

QMenuBar::item:pressed {
    background-color: rgba(0, 0, 0, 7);
    color: rgba(0, 0, 0, 150);
}