FluNavigationMenuItem {
    background-color: rgb(243, 243, 243);
}

#menuButton {
    border: none;
    background-color: transparent;
}

#menuButton:hover {
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
}