FluPivotTitleBarItem {
    background-color: transparent;
    background-color: transparent;
    border: 1px solid transparent;
}

#textLabel {
    font-size: 20px;
    font-weight: 400;
    color: rgb(97, 97, 97);
}

#indicatorLabel {
    border: 1px solid transparent;
    border-radius: 1.5px;
    background-color: transparent;
}

#textLabel[selected=true] {
    color: rgb(68, 68, 68);
}

#indicatorLabel[selected=true] {
    background-color: rgb(0, 90, 158);
}