FluPivotTitleBarItem {
    background-color: transparent;
    border: 4px solid transparent;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(97, 97, 97);
    /* border-bottom: 4px solid rgb(0, 90, 158); */
}

FluPivotTitleBarItem[selected=true] {
    border-bottom: 4px solid rgb(0, 90, 158);
    color: rgb(68, 68, 68);
}