FluVCard {
    border: 1px solid rgb(234, 234, 235);
    border-radius: 8px;
    background-color: rgba(249, 249, 249, 0.95);
}

FluVCard:hover {
    background-color: rgba(232, 235, 238, 0.95);
    border: 1px solid rgb(196, 198, 201);
}

#titleLabel {
    font-size: 16px;
}

#contextLabel {
    font-size: 12px;
    color: rgb(112, 112, 112);
}